@page "/"

<PageTitle>simplytammi</PageTitle>

<div class="min-h-screen">
    <SiteNav />

    <main>
        <Hero />
        <Focus />
        <SelectImages />
        @*<AboutMe />
    <ContactSection /> *@
    </main>

    @*   <SiteFooter />
 *@</div>
