@page "/"

<PageTitle>simplytammi</PageTitle>

<div class="min-h-screen">
    <SiteNav />

    <main>
        <Hero />
        <Focus />
        <SelectImages />
        <Contact />
        @*<AboutMe /> *@
    </main>

    @*   <SiteFooter />
 *@</div>
